body{
    max-width: 500px;
margin: auto;
font-family: cursive;
padding: 0.5rem;
background-color: rgb(243, 247, 235);

}

.prato{
    font-size: large;
}

.descrição{
    font-size: medium;
}



h2 {
    background-color: rgb(100, 233, 100);
     



    }


h3{
    background-color: rgb(250, 163, 2);
}
h1{
    margin: 0px;


}

.centralizar{
    text-align: center;
}


.sublinhado{
    text-decoration: none;
    color: rgb(3, 102, 3);
}
    
    